* {
	margin: 0;
	padding: 0;
	font-family: Comic Sans MS, Arial, Verdana;
	box-sizing: border-box;
}

body {
	border: 10px;
	border-style:double;
	background-color: rgb(233, 243, 247);

}

header {
	width: 100%;
	height: 500px;
	margin-top: 15px;
}

header h1 {
	margin-left: 10px;
	text-align: center;
	font-size: 30px;
}

nav{
	padding: 5px;
	display:flex;
	justify-content: space-around;
}

.nav-enlace{
	display: inline-block;
	background: rgb(51 110 199 / 92%);
	padding: 5px;
	color: white;
	text-decoration: none;
	width: 6.5em;
	margin: 4px;
	text-align: center;
	border: 2px solid black;
	box-shadow: 4px 4px #808080fc;
	margin-bottom: 1em;
}

.nav-enlace:hover{
	background: green;
	box-shadow: 0px;

}

.nav-enlace a {
	padding-top: 5px;
	background: rgb(51 110 199 / 92%);
	color: white;
	margin-top: 14px;
	margin-left: 2px;
	width: 6em;
	display: inline-block;
	margin-right: 6px;
	text-decoration: none;
	text-align: center;
	border: 2px solid black;
	box-shadow: 4px 4px #808080fc
}

.nav-button{
	color: white;
	background: rgb(51 110 199 / 92%);
	border: 2px solid black;
	display:none;
	padding: 5px;
	font-size: 1em;
	font-weight: bold;
}

/* Cuando el máximo sea 600, tomará nuevas propiedades */
@media (max-width:600px){
	nav{
		flex-direction: column;
	}

	.nav-enlace{
		margin:10px 0;
		width: 100%;
	}

	.nav-button{
		display: inline-block;
	}

	.desaparece{
		display: none;
	}
}
/* .nav-enlace a:hover {
	background: green;
	box-shadow: 0px;
}  */

.imgPrinc {
	width: 100%;
	height: 415px;
}

.titulo {
	text-align: center;

}

main {
	width: 100%;
}

.Logo {
	width: 6em;
	height: 6em;
	border: 1px solid black;
	margin-top: 3em;
	margin-left: 1em;
}

#Lista {
	margin-left: 10em;
	margin-top: -8em;
}

li {
	margin-top: 30px;
	list-style: none;
}

p {
	margin-left: 1em;
}

#parrafo {
	margin-left: 10em;
	margin-top: -5em;
}

/* MAIN */
/* TABLA */

h2 {
	text-align: center;
	margin-top: 1em;
}


.LogoInf {
	width: 35%;
	height: 14em;
	position: relative;
	left: 34%;
}

.normal {
	width: 90%;
	margin: auto;
	border: 1px solid #000;
}

table td {
	width: 25%;
	height: 2em;
	padding: 10px;
}

table th {
	background-color: green;
	width: 25%;
	height: 2em;
	border: 1px solid #000;
}

table tr {
	background-color: rgb(138, 231, 135);
}

h4 {
	text-align: center;
}

.escuela{
	position: relative;
	top:40%;
}
.mapa{
	float:right;
	margin-top: 5px;
}

/* SECTION */

.imgMensaje {
	width: 58%;
	height: 3em;
	margin-left:20%;
}

.imgFlecha {
	width: 7em;
	height: 7em;
	transform: rotate(150deg);
	float:right;
	margin-right: 20px;
}

.imagenesInfo:hover img{
	transform: scale(0.1);
}

section ul li {
	list-style-type: disc;
	margin-left: 3em;
	margin-top: 2em;
}

/* FOOTER */

footer {
	width: 100%;
	height: 24em;
	background-image: url("Assets/estadio.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.EnlacesFooter{
	display: flex;
	justify-content: space-around;

}

footer h3 {
	text-align: center;
	padding-top: 1em;
}


.anchorFoot:hover {
	background: green;
	box-shadow: 0px;
}

.anchorFoot{
	background: rgb(51 110 199 / 92%);
	color: white;
	width: 8em;
	text-decoration: none;
	text-align: center;
	border: 2px solid black;
	box-shadow: 4px 4px #808080fc;
	position: relative;
	top: 7em;
	margin-inline: 137px;
	display: inline-block;

}

.red-social {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: -3px;
}

.red-social a:hover {
	width: 3em;
	height: 3em;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow:
		inset 0 0 0 0 rgba(233, 60, 13, 0.4),
		inset 0 0 0 16px green,
		0 1px 2px rgba(0, 0, 0, 0.1);
	transition: all 0.4s ease-in-out;
}

/* RULES */

#mainRules {
	background-image: url(Assets/marcaAgua.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 1em;
	margin-right: 1em;
	text-align: justify;
}

#mainRules h2 {
	text-align: center;
}

#mainRules h3 {
	text-align: left;
}

#mainRules ol li {
	list-style-type: decimal-leading;
	margin-left: 1em;
}

ol#listaOrdenada>li {
	list-style-type: lower-latin;

}

#final {
	list-style: circle;
	margin-left: 3em;
}


/* REGISTRO */

#bodyReg {
	padding: 1rem;
	color: black;
	font-weight: 600;
	font-size: large;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

form {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

form h1 {
	text-align: center;
}

fieldset {
	padding: 0.5rem;
	border: 3px solid gray;
}

legend {
	padding: 0.2rem;
}

iframe {
	border-radius: 1rem;
	border: 2px solid white;
	margin: 1rem;
}

#scroll {
	border: 1px solid;
	height: 12vw;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}



#MainRegistation {
	width: 100%;
	height: 57.5em;
}


.input1{
	width: 100%;
}

.input2{
	width: 26%;
}

.enviarBoton{
	width: 200px;
	height: 30px;
	background-color: green;
	font-weight: bold;
	font-size: 20px;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
